<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Somali Lexical Database</title>
    <!-- Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>
      .navbar {
        position: sticky;
        top: 0;
        z-index: 1000; /* Ensure it is on top */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
      }

      .hero-section {
        background: linear-gradient(
            to right,
            rgba(0, 131, 109, 0.9),
            rgba(0, 131, 109, 0.8)
          ),
          url('{{ url_for("static", filename="images/somali-hero-bg.png") }}')
            no-repeat center center/cover;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
      }

      .feature-icon {
        font-size: 3rem;
        color: #00835f;
        margin-bottom: 15px;
      }
      .feature-card {
        transition: all 0.3s;
      }
      .feature-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      }
      .footer {
        background-color: #00835f;
        color: #fff;
        padding: 20px 0;
      }
      .footer a {
        color: #00835f;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar bg-white shadow-md">
      <div
        class="container mx-auto px-4 py-3 flex justify-between items-center"
      >
        <a class="text-dark font-bold text-lg" href="#">
          <img
            src="{{ url_for('static', filename='/images/logo.PNG') }}"
            alt="Logo"
            class="inline-block h-10 mr-2"
          />
          Somali Lexical <span class="text-green-600">Database</span>
        </a>
        <div class="flex items-center space-x-4">
          <a
            class="text-dark font-bold hover:text-green-600"
            href="{{ url_for('index') }}"
            >Home</a
          >
          <a class="text-dark font-bold hover:text-green-600" href="#Aricle"
            >Aricle</a
          >
          <a class="text-dark font-bold hover:text-green-600" href="#features"
            >Features</a
          >
          <a class="text-dark font-bold hover:text-green-600" href="#contact"
            >Contact</a
          >
          <a
          class="text-dark font-bold hover:text-green-600"
          href="{{ url_for('search') }}"
          >Search</a
        >
          <a
            class="text-dark px-4 py-1 rounded-md"
            href="{{ url_for('login') }}"
            >Sign in</a
          >
          <a
            class="bg-green-600 text-white px-4 py-1 rounded-md hover:bg-green-700 transition"
            href="{{ url_for('signup') }}"
            >Signup</a
          >
        </div>
      </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero-section">
      <div class="container mx-auto text-center px-4">
        <h1 class="text-5xl font-bold mb-4">
          Welcome to the Somali Lexical Database
        </h1>
        <p class="text-xl mb-8">
          A comprehensive resource for exploring and understanding the richness
          of the Somali language.
        </p>
        <a
          href="{{ url_for('login') }}"
          class="border border-gray-300 text-white px-6 py-3 rounded-lg hover:bg-green-700 transition"
          >Get Started</a
        >
      </div>
    </section>

    <!-- Articles Section -->
    <section id="Aricle" class="py-16 bg-gray-100">
      <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-12">Short Articles</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <div class="feature-card p-6 bg-white rounded-lg shadow-lg">
            <i class="fas fa-book-open feature-icon ml-36 mb-4"></i>
            <h4 class="text-xl font-semibold mb-2 text-center">Somali Grammar</h4>
            <p class="text-justify">
              Somali is an agglutinative language, using many affixes and particles to determine and alter the meaning of words. As in other related Afroasiatic languages, Somali nouns are inflected for gender, number and case, while verbs are inflected for persons, number, tenses, and moods.
                Affixes change according to a number of rules. The definite article is a suffix, with the basic form being -ki or -ka for masculine nouns and -ti or -ta for feminine nouns. The k or t is the actual article marker, although it can change depending on the preceding consonant, with the following vowel determined by the case of the noun. Articles do not change for singular or plural.

            </p>
          </div>
          <div class="feature-card p-6 bg-white rounded-lg shadow-lg">
            <img
              src="{{ url_for('static', filename='images/HistIm.png') }}"
              alt="Customer Support"
              class="h-16 mx-auto mb-4"
            />
            <h4 class="text-xl font-semibold mb-2 text-center">
              History of Somali Language
            </h4>
            <p class="text-justify">
              The Somali language has a rich history, including its origins, its status as an official language, and its writing system:
              The Somali language originated in the Horn of Africa, likely in the first millennium BCE. It's part of the Afroasiatic language family and is classified as an East Cushitic language.
              Somali became the official language of Somalia in 1972. Before then, English and Italian were used in government, and English was the primary language in schools.
              Somali was primarily spoken until 1973, when Somalia officially adopted a writing system based on the Latin alphabet. Today, some people also use non-Latin alphabets to write Somali, such as the Arabic alphabet.
              The exact age of the Somali language is difficult to pinpoint, but it's certainly thousands of years old. Some historians estimate that it originated between 6,000 and 10,000 BC.

            </p>
          </div>
          <div class="feature-card p-6 bg-white rounded-lg shadow-lg">
            <i class="fas fa-chart-bar feature-icon ml-36 mb-4"></i>
            <h4 class="text-xl font-semibold mb-2 text-center">Somali Language Scholars</h4>
            <p class="text-justify">
              <span class="font-semibold"> Cumar Mansuur:</span> A leading scholar of the Somali language
              and its relationship to other Afro-Asiatic languages. <span class="font-semibold">Mohamed Haji
              Rabi: </span> A leading scholar of the Somali language and its
              relationship to other Afro-Asiatic languages. <span class="font-semibold"> Mohamed Diriye Abdullahi: </span> A leading scholar of the Somali language and its
              relationship to other Afro-Asiatic languages. <span class="font-semibold"> Mustafa Abdullahi
              Feiruz: </span> Focuses on the standardization of written Somali and its
              links with Arabic. Musa Haji Ismail Galal: A leading scholar who
              helped develop the Somali Latin alphabet. <span class="font-semibold"> Shire Jama Ahmed: </span>
              leading scholar who helped develop the Somali Latin alphabet.
              Osman Yusuf Kenadid: Invented the Osmanya script. <span class="font-semibold">Sheikh
              Abdurahman Sheikh Nuur: </span> the Borama script. <span class="font-semibold">Hussein Sheikh
              Ahmed Kaddare: </span>Invented the Kaddare script.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="py-16">
      <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-center mb-12">Features</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <div
            class="feature-card p-8 text-center shadow-lg bg-white rounded-lg"
          >
            <i class="fas fa-book-open feature-icon"></i>
            <h4 class="text-xl font-semibold mb-2">Comprehensive Lexicon</h4>
            <p>
              Explore a vast collection of root words, derivatives, and their
              meanings in the Somali language.
            </p>
          </div>
          <div
            class="feature-card p-8 text-center shadow-lg bg-white rounded-lg"
          >
          <i class="fas fa-language feature-icon"></i>

            <h4 class="text-xl font-semibold mb-2">Grammatical Analysis</h4>
            <p>
              Access detailed grammatical information for words, including part
              of speech and usage examples.
            </p>
          </div>
          <div
            class="feature-card p-8 text-center shadow-lg bg-white rounded-lg"
          >
            <i class="fas fa-chart-bar feature-icon"></i>
            <h4 class="text-xl font-semibold mb-2">Data Insights</h4>
            <p>
              Visualize language trends and patterns with interactive charts and
              reports.
            </p>
          </div>
          <div
            class="feature-card p-8 text-center shadow-lg bg-white rounded-lg"
          >
            <i class="fas fa-users feature-icon"></i>
            <h4 class="text-xl font-semibold mb-2">Community Contributions</h4>
            <p>
              Participate in building the database by submitting new words and
              corrections.
            </p>
          </div>
          <div
            class="feature-card p-8 text-center shadow-lg bg-white rounded-lg"
          >
            <i class="fas fa-book-reader feature-icon"></i>
            <h4 class="text-xl font-semibold mb-2">Educational Resources</h4>
            <p>
              Access learning materials and resources for students and
              educators.
            </p>
          </div>
          <div
            class="feature-card p-8 text-center shadow-lg bg-white rounded-lg"
          >
            <i class="fas fa-globe feature-icon"></i>
            <h4 class="text-xl font-semibold mb-2">Multilingual Support</h4>
            <p>
              Experience the database in multiple languages, including Somali
              and English.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="py-16 bg-gray-100">
      <div class="container mx-auto p-8">
        <h2 class="text-3xl font-bold text-center mb-12">Contact Us</h2>
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
            <h4 class="text-xl font-semibold mb-4">Get in Touch</h4>
            <p class="mb-4">
              For any inquiries or support, please feel free to reach out to us.
              We are here to help you with any questions or issues you may have.
            </p>
            <p class="mb-4">
              <i class="fas fa-envelope"></i>
              <a href="mailto:gedi@just.edu.so" class="text-blue-600"
                >gedi@just.edu.so</a
              >
            </p>
            <p><i class="fas fa-phone"></i> Phone: +252 61 5805013</p>
          </div>
          <div class="w-full md:w-1/2 px-4">
            <form>
              <div class="mb-4">
                <label for="name" class="block text-gray-700">Name</label>
                <input
                  type="text"
                  id="name"
                  class="w-full p-3 border border-gray-300 rounded-md"
                  placeholder="Your Name"
                />
              </div>
              <div class="mb-4">
                <label for="email" class="block text-gray-700">Email</label>
                <input
                  type="email"
                  id="email"
                  class="w-full p-3 border border-gray-300 rounded-md"
                  placeholder="Your Email"
                />
              </div>
              <div class="mb-4">
                <label for="message" class="block text-gray-700">Message</label>
                <textarea
                  id="message"
                  class="w-full p-3 border border-gray-300 rounded-md"
                  rows="4"
                  placeholder="Your Message"
                ></textarea>
              </div>
              <button
                type="submit"
                class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition"
              >
                Send Message
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center py-4 bg-green-600 text-white">
      <div class="container mx-auto">
        <p>&copy; 2024 Somali Lexical Database. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- Include Tailwind JS -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"></script>
  </body>
</html>
