<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parts of Speech</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
</head>
<body>
{% include 'sidebar.html' %}
<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-user fs-4 text-primary"></i>
                        <span class="card-title fs-4">Parts of Speech Taggs</span>
                        <h6 class="card-subtitle text-muted">Here you can add parts of speech taggs, as well as update and delete them!</h6>
                        <hr style="border: 1px solid #000;">
                        <button type="button" class="btn btn-primary my-1 float-end" id="addNewQeybaha">
                            Register Part of Speech
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="qeybahaTable" class="table table-striped DataTableResponsive" style="width:100%">
                                <thead class="table">
                                    <tr>
                                        <th>#</th>
                                        <th>Part of Speech</th>
                                        <th>Abbreviation</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 15px;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Part of Speech Modal -->
    <div class="modal fade" id="addQeybahaModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addQeybahaModalLabel">Register Part of Speech</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addQeybahaForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Qaybta_hadalka">Part of Speech</label>
                            <input type="text" name="Qaybta_hadalka" id="Qaybta_hadalka" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="Loo_gaabsho">Abbreviation</label>
                            <input type="text" name="Loo_gaabsho" id="Loo_gaabsho" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Part of Speech Modal -->
    <div class="modal fade" id="editQeybahaModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editQeybahaModalLabel">Update Part of Speech</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="editQeybahaForm">
                    <div class="modal-body">
                        <input type="hidden" name="Aqoonsiga_hadalka" id="editAqoonsiga_hadalka">
                        <div class="form-group">
                            <label for="editQaybta_hadalka">Part of Speech</label>
                            <input type="text" name="Qaybta_hadalka" id="editQaybta_hadalka" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="editLoo_gaabsho">Abbreviation</label>
                            <input type="text" name="Loo_gaabsho" id="editLoo_gaabsho" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/qeybaha_hadalka.js') }}"></script>
</body>
</html>
