<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Graduate Admission Prediction</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link
      class="js-stylesheet"
      href="{{ url_for('static', filename='assets/css/light.css') }}"
      rel="stylesheet"
    />
  </head>
  <body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="wrapper">
      <nav id="sidebar" class="sidebar">
        <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="/">
            <div class="align-middle me-3  fw-bold text-light d-flex">
             <span> <img src="{{ url_for('static', filename='/images/logo.png') }}" alt="Customer Support" class="img-fluid illustration-img" style="height: 8vh; weight:100%;"/></span>
              <span class="fs-4 text-light" style="text-transform: uppercase; font-weight: bold; line-height:1; text-align: center; margin-top: 15px;">Somali Lexical Database</span>
            </div>
          </a>

          <div id="userMenu">
            <ul class="sidebar-nav text-light">
              <li class="sidebar-header fw-bold text-light">Pages</li>

              <!-- Dashboard Link -->
              <li class="sidebar-item active">
                <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
                  <i class="align-middle text-light" data-feather="sliders"></i>
                  <span class="align-middle text-light">Dashboards</span>

                </a>
                <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
                  <li class="sidebar-item active">
                    <a class="sidebar-link" href="dashboard">Dashboard</a>
                  </li>
                  {% if session['userRole'] == 'Admin' or session['userRole'] == 'Moderator' %}
                  <li class="sidebar-item">
                    <a class="sidebar-link" href="statistical">Information</a>
                  </li>
                  {% endif %}
                </ul>
              </li>

              <!-- Managing Words Section (Admin/Moderator) -->
              {% if session['userRole'] == 'Admin' or session['userRole'] == 'Moderator' %}
              <li class="sidebar-item">
                <a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link collapsed">
                  <i class="align-middle text-light" data-feather="users"></i>
                  <span class="align-middle text-light">Managing Words</span>
                  <span class="badge badge-sidebar-primary">3</span>
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                
                  <li class="sidebar-item">
                    <a class="sidebar-link text-light" href="{{ url_for('qeybaha_hadalka') }}">Parts Of Speech Taggs</a>
                  </li>
                  <li class="sidebar-item">
                    <a class="sidebar-link text-light" href="{{ url_for('asalka_ereyada') }}">Root Words</a>
                  </li>
                  <li class="sidebar-item">
                    <a class="sidebar-link text-light" href="{{ url_for('erayga_hadalka') }}">Derivative Words</a>
                  </li>
                </ul>
              </li>
              {% endif %}
              
              <!-- Managing Words (User) -->
              {% if session['userRole'] == 'User' %}
              <li class="sidebar-item">
                <a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link collapsed">
                  <i class="align-middle text-light" data-feather="users"></i>
                  <span class="align-middle text-light">Managing Words</span>
                  <span class="badge badge-sidebar-primary">2</span>
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item">
                    <a class="sidebar-link text-light" href="{{ url_for('asalka_ereyada') }}">Root Words</a>
                  </li>
                  <li class="sidebar-item">
                    <a class="sidebar-link text-light" href="{{ url_for('erayga_hadalka') }}">Derivative Words</a>
                  </li>
                </ul>
              </li>
              {% endif %}

              <!-- Reports Section -->
              <li class="sidebar-item">
                <a data-bs-target="#charts" data-bs-toggle="collapse" class="sidebar-link collapsed">
                  <i class="align-middle text-light" data-feather="pie-chart"></i>
                  <span class="align-middle text-light">Reports</span>
                  <span class="badge badge-sidebar-primary">3</span>
                </a>
                <ul id="charts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item">
                    <a class="sidebar-link text-primary" href="{{ url_for('reports') }}">Search Words and POS Tags</a>
                  </li>
                   <li class="sidebar-item">
                    <a class="sidebar-link text-light" href="{{ url_for('ereyada_reports') }}">Derivative Words Report</a>
                  </li>
                  {% if session['userRole'] == 'Admin' %}
                  <li class="sidebar-item">
                    <a class="sidebar-link text-light" href="{{ url_for('reports_root') }}">Root Words</a>
                  </li>
                 
                  {% endif %}

                </ul>
              </li>

               <!-- User Management Section (Admin) -->
               {% if session['userRole'] == 'Admin' %}
               <li class="sidebar-item">
                 <a data-bs-target="#mangement" data-bs-toggle="collapse" class="sidebar-link collapsed">
                   <i class="align-middle text-light" data-feather="settings"></i>
                   <span class="align-middle text-light">User Management</span>
                   <span class="badge badge-sidebar-primary">2</span>
                 </a>
                 <ul id="mangement" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                   <li class="sidebar-item">
                     <a class="sidebar-link text-light" href="{{ url_for('users') }}">Users</a>
                   </li>
                   <li class="sidebar-item">
                    <a class="sidebar-link text-light" href="{{ url_for('usersReports') }}">Users Reports</a>
                  </li>
                 </ul>
               </li>
               {% endif %}


              <!-- Auth Section -->
              <li class="sidebar-item">
                <a data-bs-target="#auth" data-bs-toggle="collapse" class="sidebar-link collapsed">
                  <i class="align-middle text-light" data-feather="power"></i>
                  <span class="align-middle text-light">Auth</span>
                  <span class="badge badge-sidebar-primary">1</span>
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item">
                    <a class="sidebar-link text-light" href="{{ url_for('logout') }}">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  </body>
</html>
